body{
    font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    color: #000000;
}

a:link, a:visited, a:hover, a:active {
	color: black;
}

table {
    border-collapse: collapse;
    width: 40%;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
	background-color: #e6e6e6;
	cursor: pointer;
}

.sortorder:after {
	content: '\25b2';
}
.sortorder.reverse:after {
	content: '\25bc';
}